<div>
  <h1>IP Access Denied</h1>
  <p>Dear {{name}},</p>
  <p>An attempt to access {{tenantName}} from IP address {{ipAddress}} was blocked due to IP restrictions.</p>
  <p>Time: {{timestamp}}</p>
  <p>If you believe this is a mistake, please contact your administrator to update the IP allowlist.</p>
  <p>Best regards,<br>The Security Team</p>
</div>
